<head>
    <link rel="stylesheet" href="css/auth.css">
   
</head>
<div class="form_conianer">
    <form action="" class="form">
        <h2> Log in</h2>
    <input type="text" class="form__input__text" placeholder="your username">
    
    <input type="text" class="form__input__text"  placeholder="your password">
  
    <!-- add the more input if you want  -->
    
    
    <input type="submit" value="Sing Up" class="form__input__submit">
    </form>
    <p>u dont have account ? </p> <br>
    <a href="/singUp">sing up</a>
</div>
