<head>
    
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/profile.css">
</head>

<div class="profile">
    <!-- user info -->
    <div class="profile__top">
        <img src="https://thumbs.dreamstime.com/b/scattered-numbers-wallpaper-background-use-use-design-layouts-content-creation-scattered-numbers-wallpaper-166001346.jpg"
            alt="" srcset="">
        <div class="profile__about">
            <div class="profile__about--img">
                <img src="https://static.arageek.com/wp-content/uploads/2020/04/%D8%A7%D9%84%D8%AE%D9%88%D8%B1%D8%A7%D8%B2%D9%85%D9%8A.jpg"
                    alt="">
            </div>
            <h4 class="profile__about--name">yasir</h4>
            <h5 class="profile__about--userName">@yasir</h5>
            <p> man from zulfi | like hunt </p>

            <div class="profile__about--follow">
               <a href="/follwing"> <h5> 18 <span>Follwing </span></h5> </a>
               <a href="/followers"> <h5> 13  <span>Followers</span></h5> </a>
            </div>
        </div>
    </div>
<!-- end of user info -->

    <!-- user twitts -->
    <div class="home__main__twitt">
        <div class="home__main__twitt--img">
            <img src="https://static.arageek.com/wp-content/uploads/2020/04/%D8%A7%D9%84%D8%AE%D9%88%D8%B1%D8%A7%D8%B2%D9%85%D9%8A.jpg"
                    alt="">
        </div>

        <div class="home__main__twitt__right">
            <h4 class="home__main__twitt__right--h4">
                yasir <span> @yasir</span> · <span> 1m </span>
            </h4>
            <p class="home__main__twitt__right--p">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptas a at eos totam, sapiente
                dolorum fugiat illum quidem pariatur amet est aut optio vero omnis aliquam tempore architecto alias.
            </p>
            <div class="home__main__twitt--icons">
                <img src="https://www.flaticon.com/svg/static/icons/svg/590/590670.svg" alt="" srcset="">
                <img src="https://www.flaticon.com/svg/static/icons/svg/1388/1388895.svg" alt="" srcset="">
                <img src="https://www.flaticon.com/svg/static/icons/svg/535/535285.svg" alt="" srcset="">
                <img src="https://www.flaticon.com/svg/static/icons/svg/929/929610.svg" alt="" srcset="">

            </div>
        </div>
    </div>
<!-- end -->
</div>