<head>
    <link rel="stylesheet" href="css/auth.css">
   
</head>
<div class="form_conianer">
    <form action="" class="form">
        <h2> Create Your account</h2>
    <input type="text" class="form__input__text" placeholder="your username">
    
    <input type="text" class="form__input__text"  placeholder="your password">
    <input type="text" class="form__input__text" placeholder="your img link">
    <!-- add the more input  -->
    
    
    <input type="submit" value="Sing Up" class="form__input__submit">
    </form>


    <p>u alredy have account ? </p> <br>
    <a href="/login"> log in</a>
    
</div>

